/* body {
    background-image: url("../images/paws-small.png");
    background-repeat: repeat;
  
}
  } */

.font {
    font-family: "Ink Free";
    font-size: 40px;
    align-items: end;
    color: #ef314c;
}

.article-text {
    text-align: justify;
}

.card-img-top {
    height: 8rem;
}

.product-card {
    height: 17rem;
    width: 13rem;
}

.category-names {
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
}

.card {
    border-color: white;
  }

.cat-toys {
    width: 100%;
}

.categories-images {
    width: 200px;
    height: 200px;
}