.font {
    font-family: "Ink Free";
    font-size: 40px;
    align-items: end;
    color: #ef314c;
}

.article-text {
    text-align: justify;
}

.card-img-top {
    height: 8rem;
}

.product-card {
    height: 17rem;
    width: 13rem;
}

.category-names {
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
}

.card {
    border-color: white;
  }

.categories-images {
    width: 200px;
    height: 200px;
}

/* test cart Laura */

.first-row, .second-row {
    width: 98%;
}

.media-body {
    margin-left: 20px;
}

.row-1, .row-2, .row-3, .row-4, .row-5 {
    border: 1px solid darkgray;
}

.product1-count, .product1-coun2, .product1-count3, .product1-coun4 {
    background-color: blue;
}

#product2-count, #product5-count {
    border: none;
    width: 4rem;
}